

#app .react-grid-HeaderCell {
    background-color: #292929;
    color: #fff;
}

.red{
    background-color:red;
}

@keyframes rotater {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }

}

body{
    background-color:#fff;

}

.hidden{
    display:none;
}

.signin{
    width:75px;
    color:green;

}

.signout{
    width:75px;
}

.instMessageBtn{
    width:100%;
    margin-top:15px;
    margin-bottom:15px;
}


.font1{
    font-family:helvetica neue;
    color:grey !important;
}
.font2{
    font-family:helvetica neue;
    color:grey !important;
    font-size: 1.5em;
}
.extraPad{
    padding-bottom:20px;
    text-align:center;
}
.bgphoto{
    background-image: url('../assets/Chicago.jpg');
    width:100%;
    height:700px;
    background-color:#ccc;
    margin-bottom:100px;
    padding:100px;
}

.bgphoto2{
    background-image: url('../assets/kitchen.jpg');
    width:100%;
    height:700px;
    background-color:#ccc;
    margin-top:100px;
}

.centerGrid{
    margin:0 auto;
    background-color:#459BA8;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    height:100px !important;
    width:100px !important;
    text-align:center;
    color:white !important;
}

.clearfix {
  overflow: auto;
}

#map {
   width: 90%;
   height:600px;
   background-color: grey;
 }
 .messagingBox{
    width:25%;
    height:600px;
    background-color:#ccc;

 }

.fRight{
    float:left;
}

.centermargin{
    margin:0 auto;
    margin-top:15px;
    margin-left:45px;
}
 




 .fizal{
    background-color:orange;
 }



.signInWindow{
    background-color:#fff;
    opacity: 0.9;
    margin:0 auto;
    width:300px;
    height:200px;
    padding:50px;
}